<!-- include header -->
<%- include('include/_header', {Us:US}) %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nº Dupla</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telemóvel</th>
                            <th>NIF</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>
                        <% var numero = 1 %>
                        <% var num_dupla = 0 %>

                        <%for(var j=0; j< Array.length; j++){%>
                            <%for(var i= 0; i< User.length; i++) {%> 
                                <% if(Array[j] == User[i]._id){%>  
                                    <% if(numero % 2 != 0 ){ %>
                                        <tr>
                                        <td style="text-align: center; vertical-align: middle" rowspan="2"><%= num_dupla %></td>
                                        <%=num_dupla++%>
                                    <% } %>
                                                
                                    <td><%= User[i].name%></td>
                                    <td><%= User[i].email%></td>
                                    <td><%= User[i].phone%></td>
                                    <td><%= User[i].nif%></td>
                                    <% if(numero % 2 != 0 ){ %> 
                                        <td rowspan="2">
                                            <a href="/" class="btn border-shadow update">
                                                <span class="text-gradient" id="editar_bd" value="<%=User[i]._id%>"><i class="fas fa-pencil-alt"></i></span>
                                            </a>
                                            <br><br>
                                            <%for(var l= 0; l< Pairs.length; l++) {%>
                                                <% if(i != User.length-1){%>
                                                    <% if(((Pairs[l].users[0] == Array[j]) || (Pairs[l].users[1] == Array[j]) ) && ((Pairs[l].users[1] == Array[j]) || (Pairs[l].users[0] == Array[j]))){ %>
                                                        <a href="/apagar_inscricao/<%=torneio%>/<%=Pairs[l]._id %>" class="btn border-shadow delete">
                                                            <span class="text-gradient" id="apagar_bd" value="<%=Pairs[l]._id%>"><i class="fas fa-times"></i></span>
                                                        </a> 
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                            </td>
                                    <% } %> 
                                    <% numero++%>
                                    </tr>
                                <%}%>
                            <%} %>
                        <% } %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->