<!-- include header -->
<%- include('include/_header', {Us:US}) %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nº Dupla</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telemóvel</th>
                            <th>NIF</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>
                        <% var numero = 1 %>
                        <% var num_dupla = 0 %>

                        <%for(var j=0; j< Array.length; j++){%>
                            <%for(var i= 0; i< User.length; i++) {%> 
                                <% if(Array[j] == User[i]._id){%>  
                                    <% if(numero % 2 != 0 ){ %>
                                        <tr>
                                        <td style="text-align: center; vertical-align: middle" rowspan="2"><%= num_dupla %></td>
                                        <%=num_dupla++%>
                                    <% } %>
                                    <td id ="name_tabela"><%= User[i].name%></td>
                                    <td id ="email_tabela"><%= User[i].email%></td>
                                    <td id ="phone_tabela"><%= User[i].phone%></td>
                                    <td id ="nif_tabela"><%= User[i].nif%></td>
                                    <% if(numero % 2 != 0 ){ %> 
                                        <td rowspan="2">
                                            <%for(var l= 0; l< Pairs.length; l++) {%>
                                                <% if(i != User.length-1){%>
                                                    <% if(((Pairs[l].users[0] == Array[j]) || (Pairs[l].users[1] == Array[j]) ) && ((Pairs[l].users[1] == Array[j]) || (Pairs[l].users[0] == Array[j]))){ %>
 
                                                        <form action="/editar_inscricao/<%=torneio%>/<%=Pairs[l].users[0]%>/<%=Pairs[l].users[1]%>" method="POST">
                                                            <%console.log(User[i].name)%>
                                                            <%console.log(User[i+1].name)%>
                                                            <input type="hidden" name="name1" value="<%=User[i].name%>" />
                                                            <input type="hidden" name="email1" value="<%=User[i].email%>" />
                                                            <input type="hidden" name="phone1" value="<%=User[i].phone%>" />
                                                            <input type="hidden" name="nif1" value="<%=User[i].nif%>" />

                                                            <input type="hidden" name="name2" value="<%=User[i+1].name%>" />
                                                            <input type="hidden" name="email2" value="<%=User[i+1].email%>" />
                                                            <input type="hidden" name="phone2" value="<%=User[i+1].phone%>" />
                                                            <input type="hidden" name="nif2" value="<%=User[i+1].nif%>" />
                                                            
                                                            <button type="submit" >
                                                                <span value="<%=Pairs[l].users[0]%>_<%=Pairs[l].users[1]%>"><i class="fas fa-pencil-alt"></i></span>
                                                            </button>
                                                        </form>   
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                            <br><br>
                                            <%for(var l= 0; l< Pairs.length; l++) {%>
                                                <% if(i != User.length-1){%>
                                                    <% if(((Pairs[l].users[0] == Array[j]) || (Pairs[l].users[1] == Array[j]) ) && ((Pairs[l].users[1] == Array[j]) || (Pairs[l].users[0] == Array[j]))){ %>
                                                        <a href="/apagar_inscricao/<%=torneio%>/<%=Pairs[l]._id %>" class="btn border-shadow delete">
                                                            <span class="text-gradient" id="apagar_bd" value="<%=Pairs[l]._id%>"><i class="fas fa-times"></i></span>
                                                        </a> 
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                            </td>
                                    <% } %> 
                                    <% numero++%>
                                    </tr>
                                <%}%>
                            <%} %>
                        <% } %>
                    </tbody>
                </table>
        </div>
    </main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->