<!-- include header -->
<%- include('include/_header', {Us:US}) %>
    <!-- /include header -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <!-- Main Site -->


    <div id="alterarInsc">
        <div class="titulo">
            <h1>Alterar Incrições</h1>
        </div>

        <br>
        <p class="desc">Clique no botão editar para alterar os dados dos jogadores</p>
        <br>
        <p class="aviso">*Clicar no botão "X" elimina a incrição da dupla*</p>
        <br>
        <p class="aviso">*Só pode remover utilizadores do torneio, antes de criar fases de grupos*</p>

        <table class="table">

            <tr>
                <th>Nº Dupla</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telemóvel</th>
                <th>NIF</th>
                <th>Ações</th>
            </tr>

            <%- //include('include/_show') %>
                <% var numero=1 %>
                    <% var num_dupla=0 %>

                        <%for(var j=0; j< Array.length; j++){%>
                            <%for(var i=0; i< User.length; i++) {%>
                                <% if(Array[j]==User[i]._id){%>
                                    <% if(numero % 2 !=0 ){ %>
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle" rowspan="2">
                                                <%= num_dupla %>
                                            </td>
                                            <%num_dupla++%>
                                                <% } %>
                                                    <td id="name_tabela">
                                                        <%= User[i].name%>
                                                    </td>
                                                    <td id="email_tabela">
                                                        <%= User[i].email%>
                                                    </td>
                                                    <td id="phone_tabela">
                                                        <%= User[i].phone%>
                                                    </td>
                                                    <td id="nif_tabela">
                                                        <%= User[i].nif%>
                                                    </td>

                                                    <% if(numero % 2 !=0 ){ %>
                                                        <td rowspan="2">
                                                            <%for(var l=0; l< Pairs.length; l++) {%>
                                                                <% if(i !=User.length-1){%>
                                                                    <% if(((Pairs[l].users[0]==Array[j]) ||
                                                                        (Pairs[l].users[1]==Array[j]) ) &&
                                                                        ((Pairs[l].users[1]==Array[j]) ||
                                                                        (Pairs[l].users[0]==Array[j]))){ %>
                                                                        <form
                                                                            action="/editar_inscricao/<%=torneio%>/<%=Pairs[l].users[0]%>/<%=Pairs[l].users[1]%>"
                                                                            method="POST">

                                                                            <input type="hidden" name="name1"
                                                                                value="<%=User[i].name%>" />
                                                                            <input type="hidden" name="email1"
                                                                                value="<%=User[i].email%>" />
                                                                            <input type="hidden" name="phone1"
                                                                                value="<%=User[i].phone%>" />
                                                                            <input type="hidden" name="nif1"
                                                                                value="<%=User[i].nif%>" />

                                                                            <input type="hidden" name="name2"
                                                                                value="<%=User[i+1].name%>" />
                                                                            <input type="hidden" name="email2"
                                                                                value="<%=User[i+1].email%>" />
                                                                            <input type="hidden" name="phone2"
                                                                                value="<%=User[i+1].phone%>" />
                                                                            <input type="hidden" name="nif2"
                                                                                value="<%=User[i+1].nif%>" />

                                                                            <button type="submit">
                                                                                <span
                                                                                    value="<%=Pairs[l].users[0]%>_<%=Pairs[l].users[1]%>"><i
                                                                                        class="fas fa-pencil-alt"></i></span>
                                                                            </button>
                                                                        </form>
                                                                        <% } %>
                                                                            <% } %>
                                                                                <% } %>
                                                                                    <br><br>
                                                                                    <%for(var l=0; l< Pairs.length; l++)
                                                                                        {%>
                                                                                        <% if(i !=User.length-1){%>
                                                                                            <% if(((Pairs[l].users[0]==Array[j])
                                                                                                ||
                                                                                                (Pairs[l].users[1]==Array[j])
                                                                                                ) &&
                                                                                                ((Pairs[l].users[1]==Array[j])
                                                                                                ||
                                                                                                (Pairs[l].users[0]==Array[j]))){
                                                                                                %>
                                                                                                <a href="/apagar_inscricao/<%=torneio%>/<%=Pairs[l]._id %>"
                                                                                                    class="btn border-shadow delete">
                                                                                                    <span
                                                                                                        class="text-gradient"
                                                                                                        id="apagar_bd"
                                                                                                        value="<%=Pairs[l]._id%>"><i
                                                                                                            class="fas fa-times"></i></span>
                                                                                                </a>
                                                                                                <% } %>
                                                                                                    <% } %>
                                                                                                        <% } %>
                                                        </td>
                                                        <% } %>
                                                            <% numero++%>
                                        </tr>
                                        <%}%>
                                            <%} %>
                                                <% } %>

        </table>
    </div>

    <!-- /Main Site -->

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->