<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <div id="editar_torneio_admin">
            <div class="titulo">
                <h1>Editar torneio</h1>
            </div>

            <form action="/calendario_jogos/<%=tournment._id%>" method="post">
                <button type="submit" class="enviar">
                    Editar Horário/Calendário de jogos
                </button>
            </form>

            <form action="/editar_brakets/<%=tournment._id%>" method="post">
                <button type="submit" class="enviar">
                    Editar jogos
                </button>
            </form>

            <%for(tournment of Tournament){%>

                <form action="/alterar_inscricoes/<%=tournment._id%>" method="post">
                    <button type="submit">
                        <p>Alterar inscrições</p>
                    </button>

                </form>  
           
            <form method="POST" action="/torneiomenu/<%=tournment._id%>">
                
                <button type="submit" id="encerrar" class="enviar">
                    <p>
             
                    <%if(tournment.has_ended){%>
                        Abrir Inscrições
                    <% }else {%> 
                        Encerrar Inscrições
                    <% } %> 
                    </p>
                </button>
               
            </form>
        <% } %> 
        </div>
    </div>
</body>
</html>

                

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->