<!DOCTYPE html>
<html lang="en">
<%- include('include/_header', {Us:US}) %>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="../css/styleClevert.css">
    </head>

    <body>
    <div>
        <h2><%=Tor?.nometorneio + Tor?.fasegrupos%></h2>
        <%if(Tor?.fasegrupos==="Sim"){%>
        <p hidden id="hasGroup"></p>
        <%}%>
    </div>
    <div class="tab">
        <button class="tablink" onclick="openPage('Gclass')" id="grupos">Fase de Grupos</button>
        <button class="tablink" onclick="openPage('Bclass')" id="elemina">fase de Eleminatória</button>
    </div>
    <div class="toSelectSlots">
        <div class="genDiv">

            <% for(par of Pares){%>
            <div class="teamDiv sourceDiv" draggable="true" data-pair-id="<%=par._id%>" <%= false ? 'data-location-target='+"asda" : ""  %>><%=Utilizadores?.find((elem)=>{return elem._id.toString() === par.users[0].toString()})?.name%>/<%=Utilizadores?.find((elem)=>{return elem._id.toString() === par.users[1].toString()})?.name%></div>
            <%}%>
        </div>
    </div>
        <div id="beforeRefDiv"></div>

    <%//for (let i=0;i == Math.ceil( Pares.length / 4);i++) {%>
    <!--<div class="groupsFase" id="groupsFase"><div class="grupo" id="grupo0">
            <p>Grupo1</p>
            <input type="checkbox" class="teamCheck" id="teamCheck0/0" name="number"><div class="teamDiv" draggable="true" id="teamDiv0/0">/</div>
            <input type="text" oninput="numberOnly(this.id);" maxlength="3" class="teamInput" id="teamInput0/0" name="number" placeholder="0">
            <input type="checkbox" class="teamCheck" id="teamCheck1/0" name="number"><div class="teamDiv" draggable="true" id="teamDiv1/0">/</div>
            <input type="text" oninput="numberOnly(this.id);" maxlength="3" class="teamInput" id="teamInput1/0" name="number" placeholder="0">
            <input type="checkbox" class="teamCheck" id="teamCheck2/0" name="number"><div class="teamDiv" draggable="true" id="teamDiv2/0">/</div>
            <input type="text" oninput="numberOnly(this.id);" maxlength="3" class="teamInput" id="teamInput2/0" name="number" placeholder="0">
            <input type="checkbox" class="teamCheck" id="teamCheck3/0" name="number"><div class="teamDiv" draggable="true" id="teamDiv3/0">/</div>
            <input type="text" oninput="numberOnly(this.id);" maxlength="3" class="teamInput" id="teamInput3/0" name="number" placeholder="0">
        </div>-->
    <%//}%>


    </div>
        <div id="beforeRefDiv2">
        </div>





        <script language="JavaScript" src="/js/brackets.js "></script>

    </body>

</html>
<% - include('include/_footer') %>